body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #F0E5E6; 
    margin: 0;
    padding: 0;
}

.bingo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    color: #FF69B4; 
    font-size: 1.5rem;
}



/* Resto del estilo del tablero y números */
.bingo-board {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 5px;
    margin: 0 auto;
    padding: 10px;
    background-color: #FFFAF0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.bingo-number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #FFC0CB;
    border-radius: 5px;
    height: 60px;
    width: 60px;
    margin: 5px;
}
.selected {
    background-color: #90EE90; /* Color verde pastel para números seleccionados */
}

#bingo-image {
    max-width: 100%;
    height: auto;
    display: none; /* Oculta la imagen inicialmente */
    margin: 10px auto;
}

button 
{
    background-color: #FFC0CB; /* Color de fondo rosa pastel para botones */
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    
}

button:hover {
    background-color: #FFA7B7; /* Color de fondo rosa pastel más claro al pasar el mouse */
}


.coloreado {
    color: black;
    background-color: #90EE90;
}


@media screen and (max-width: 768px) {
    .title {
        font-size: 24px;
    }
    .p {
        font-size: 18px;
    }
    
    .bingo-board {
        grid-template-columns: repeat(5, 1fr); /* Cambia a 5 columnas en pantallas pequeñas */
    }

    .bingo-number {
        font-size: 1rem; 
        height: 40px; 
        width: 40px; 
    }

}

.bottom-right-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px; /* Ancho del contenedor de imágenes */
    background-color: #f9f9f9; /* Color de fondo opcional */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bingo-images-container {
    max-height: 200px; /* Altura máxima del contenedor */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    border: 1px solid #ccc; /* Borde opcional */
    padding: 5px;
}

.responsive {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bingo-images-container img {
    max-width: 45%; /* Ancho máximo de cada imagen */
    margin: 5px;
}

/* Estilo para las letras B, I, N, G y O */
.bingo-cell:first-child {
    background-color: #FF69B4; /* Color diferente para la letra B */
    color: white; /* Texto en blanco */
}

.my-button {
    padding: 10px 20px;
    background-color: #502D75;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin: 15px;
     
  }
  .my-button:hover {
    background-color: #FF90BA;
  }
  .my-button:active {
    background-color: #FF90BA;
  }
  .contenedorbotones {
    float: right;
    margin-right: 12%;
    margin-top: 15%;
    display: flex; /* Crea un contenedor flexible para los botones */
    flex-direction: column; /* Los botones se apilan verticalmente */
    width: 25%
    
  }

@import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);

body { height: 30%; }
body { justify-content: center; align-items: center; margin:20px 0; text-align:center; overflow:hidden; }

h1 {
 font-size:5em;
 font:bold 7.5vw/1.6 'Signika', sans-serif;
 user-select:none;
}

h1 span { display:inline-block; animation:float .2s ease-in-out infinite; }
 @keyframes float {
  0%,100%{ transform:none; }
  33%{ transform:translateY(-1px) rotate(-2deg); }
  66%{ transform:translateY(1px) rotate(2deg); }
}
body:hover span { animation:bounce .6s; }
@keyframes bounce {
  0%,100%{ transform:translate(0); }
  25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
  50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
}

span:nth-child(4n) { color:#502D75; text-shadow:1px 1px black, 2px 2px}
span:nth-child(4n-1) { color:#FEE5A2; text-shadow:1px 1px black, 2px 2px}
span:nth-child(4n-2) { color:#8EEBF0; text-shadow:1px 1px black, 2px 2px}
span:nth-child(4n-3) { color:#FF90BA;  text-shadow:1px 1px black, 2px 2px}

h1 span:nth-child(2){ animation-delay:.05s; }
h1 span:nth-child(3){ animation-delay:.1s; }
h1 span:nth-child(4){ animation-delay:.15s; }
h1 span:nth-child(5){ animation-delay:.2s; }
h1 span:nth-child(6){ animation-delay:.25s; }
h1 span:nth-child(7){ animation-delay:.3s; }
h1 span:nth-child(8){ animation-delay:.35s; }
h1 span:nth-child(9){ animation-delay:.4s; }