body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #F0E5E6; /* Color de fondo rosa pastel */
    margin: 0;
    padding: 0;
}

.bingo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    color: #FF69B4; /* Color rosa pastel para el encabezado */
    font-size: 1.5rem;
}

.bingo-board {
    max-width: 100%; /* Tablero ocupará el ancho completo del contenedor */
    display: grid;
    grid-template-columns: repeat(15, 1fr); /* 15 columnas */
    grid-gap: 5px; /* Espacio de 5px entre los números */
    margin: 0 auto;
    padding: 10px;
    background-color: #FFFAF0; /* Color de fondo marfil pastel */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.bingo-number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #FFC0CB; /* Color rosa pastel */
    border-radius: 5px;
    height: 60px;
    width: 60px;
    margin: 5px; /* Margen de 5px alrededor de cada número */
}

.selected {
    background-color: #90EE90; /* Color verde pastel para números seleccionados */
}

#bingo-image {
    max-width: 100%;
    height: auto;
    display: none; /* Oculta la imagen inicialmente */
    margin: 10px auto;
}

button {
    background-color: #FFC0CB; /* Color de fondo rosa pastel para botones */
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #FFA7B7; /* Color de fondo rosa pastel más claro al pasar el mouse */
}


.coloreado {
    color: black;
    background-color: #90EE90;
}

.bottom-right-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px; /* Ancho del contenedor de imágenes */
    background-color: #f9f9f9; /* Color de fondo opcional */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bingo-images-container {
    max-height: 200px; /* Altura máxima del contenedor */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    border: 1px solid #ccc; /* Borde opcional */
    padding: 5px;
}

.responsive {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bingo-images-container img {
    max-width: 45%; /* Ancho máximo de cada imagen */
    margin: 5px;
}