/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('img/fondo-blurred.png');
    background-size: cover;
    overflow-y: auto; /* Allow vertical scrollbar when content overflows */
}

/* Estilo para el encabezado (h1) */
h1 {
    font-size: 5em;
    color: #333;
    text-transform: uppercase;
    margin: 20px 0;
    font-family: 'ARCO', sans-serif;
}

/* Estilo para las tarjetas de Bingo (enlaces) */
a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #502D75;
    font-family: 'ARCO', sans-serif;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #82effd;
}

/* Estilo para el contenedor de cartones */
.contenedor-cartones {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjusted grid columns */
    gap: 5px;
    justify-items: center;
    padding: 10px; /* Added padding for better spacing */
}
.rotate-button {
    border: none;
    background: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.rotate-button img {
    width: 60px; /* Adjust the width according to your image */
    height: 60px; /* Adjust the height according to your image */
}

.button-atras {
    position: absolute;
    max-width: auto;
    top: 20px; /* Adjust the top position as needed */
    left: 20px; /* Adjust the left position as needed */
    background-color: #FEB7C9ff;
    font-family: 'ARCO', sans-serif;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Añade reglas de estilo específicas para dispositivos más grandes */
@media (min-width: 768px) {
    /* Estilo para el contenedor de cartones en dispositivos medianos y grandes */
    .contenedor-cartones {
        grid-template-columns: repeat(8, 1fr); /* Mantiene 8 columnas en dispositivos medianos y grandes */
    }
}

.container {
    flex: 1;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

